/* Ici vos styles CSS*/
body {
    background-color: lightblue;
}

title, h1, h2, h3 {
    text-align: center;
}

h1 {
    color: blue;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    text-decoration: 
}